<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="TrackerConnectionString" connectionString="Data Source=SQLDB1A;Initial Catalog=Tracker;User ID=tkUser;Password=tkUser" providerName="System.Data.SqlClient" />
        <add name="AfterHoursConnectionString" connectionString="Data Source=SQLDB1A;Initial Catalog=AfterHours;User ID=ahours;Password=nighttime16" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <remove name="Short URLs"/>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
